<div class="row">
  <div class="col-md-3 col-lg-2 ml-0 pl-0 pt-0 pr-0 border-right left-menu">
    <div class="p-2">
      <h5>
        Transaction <span class="badge badge-secondary float-right" *ngIf="transactions.length > 0">{{transactions.length}}</span>
      </h5>
    </div>

    <div class="list-group mb-5">
      <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="modal" href="#newSupplierModal" (click)="onCreateSupplierClick()">Cheque Transaction</a>
    </div>
    <div class="list-group mb-5">
      <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="modal" href="#newSupplierModal" (click)="onCreateSupplierClick()">Slip Transaction </a>
    </div>

    <div class="col-md-9 col-lg-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Employee</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Transactions
            <i class="fa fa-circle-o-notch  fa-spin" *ngIf="showSuppliersSpinner"></i>
          </li>
        </ol>
      </nav>



